<app-navbar></app-navbar>
<div class="container mt-5">
  <div class="row">
    <!-- //buscador de google -->
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="card-text">
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Buscar"
                aria-label="Buscar"
                aria-describedby="button-addon2"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-secondary"
                  type="button"
                  id="button-addon2"
                >
                  <i class="fa-solid fa-magnifying-glass"></i>
                </button>
              </div>

              <!-- //simulacion de resultados -->
              <div class="col-12">
                <div class="card mt-3">
                  <div class="card-body">
                    <div class="card-text">
                      <div class="row">
                        <div class="col-12">
                          <h5>Titulo</h5>
                          <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Quisquam, quod.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card mt-3">
                  <div class="card-body">
                    <div class="card-text">
                      <div class="row">
                        <div class="col-12">
                          <h5>Titulo</h5>
                          <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Quisquam, quod.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card mt-3">
                  <div class="card-body">
                    <div class="card-text">
                      <div class="row">
                        <div class="col-12">
                          <h5>Titulo</h5>
                          <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Quisquam, quod.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card mt-3">
                  <div class="card-body">
                    <div class="card-text">
                      <div class="row">
                        <div class="col-12">
                          <h5>Titulo</h5>
                          <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Quisquam, quod.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
